.header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.header_font {
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
}

.header_lightTheme {
    color: #ededed;
}